* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Neonderthaw";
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./images/cloudbg.png");
  overflow: hidden;
  background-repeat: repeat;
  height: 4rem;
  width: 100%;
}

header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  opacity: 0.9;
  font-weight: 800;
  font-size: 2rem;
  text-shadow: black 2px 2px 2px;
}

.cloudLeftbg {
  background: linear-gradient(17deg, rgba(96, 183, 240, 0.8), rgba(84, 183, 240, 0.8) 70.71%);
  width: 100vw;
  height: 100vh;
  display: inline-block;
  z-index: -1;
}

#flexInputContainer {
  padding: 2rem 2rem 2rem 2rem;
  display: inline;
  background-color: red;
  position: absolute;
}

.destination {
  position: absolute;
  z-index: 1;
  top: 4rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;
}

input[type="text"] {
  color: #1a1818;
  font-weight: 800;
  padding: 1rem 2rem;
  right: 7.5rem;
  top: 16rem;
  z-index: 1000;
  width: 12rem;
  height: 4rem;
  position: relative;
  border: black 2px solid;
}

.destination#submit {
  padding: 0.2rem 2.5rem 0.2rem 2.6rem;
  position: absolute;
  left: 4.5rem;
  top: 4rem;
  color: rgba(96, 183, 240, 0.8);
  opacity: 0.9;
  font-weight: 800;
  font-size: large;
  text-shadow: black 2px 2px 2px;
}

.outputCloud#output {
  display: none;
}

#highCloudIndicator {
  position: absolute;
  z-index: 1;
  -webkit-animation: animateHighClouds 10s linear infinite;
          animation: animateHighClouds 10s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes animateHighClouds {
  0% {
    top: 0;
    bottom: 35rem;
    right: 50px;
  }
  50% {
    top: 50px;
    right: 1000px;
  }
  74% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  95% {
    top: 50px;
    right: -1000px;
  }
}

@keyframes animateHighClouds {
  0% {
    top: 0;
    bottom: 35rem;
    right: 50px;
  }
  50% {
    top: 50px;
    right: 1000px;
  }
  74% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  95% {
    top: 50px;
    right: -1000px;
  }
}

#bigCloudIndicator {
  position: absolute;
  z-index: 1;
  -webkit-animation: animateBigClouds 20s linear infinite;
          animation: animateBigClouds 20s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes animateBigClouds {
  0% {
    top: -40rem;
    right: 50px;
  }
  50% {
    top: 50px;
    right: 1000px;
    top: -40rem;
  }
  74% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -40rem;
  }
  95% {
    top: 50px;
    right: -1000px;
    rotate: 250deg;
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}

@keyframes animateBigClouds {
  0% {
    top: -40rem;
    right: 50px;
  }
  50% {
    top: 50px;
    right: 1000px;
    top: -40rem;
  }
  74% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -40rem;
  }
  95% {
    top: 50px;
    right: -1000px;
    rotate: 250deg;
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}

#floatOneCloudRight {
  position: absolute;
  left: 3rem;
  top: 1rem;
  bottom: 3rem;
  -webkit-animation: animateCloudRight 5s linear infinite;
          animation: animateCloudRight 5s linear infinite;
  z-index: 1;
}

@-webkit-keyframes animateCloudRight {
  0% {
    top: -10rem;
    right: 50px;
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -50px;
    bottom: 50px;
    right: 100px;
  }
  100% {
    top: 50x;
    left: 100px;
  }
}

@keyframes animateCloudRight {
  0% {
    top: -10rem;
    right: 50px;
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -50px;
    bottom: 50px;
    right: 100px;
  }
  100% {
    top: 50x;
    left: 100px;
  }
}

#floatCloudRight {
  position: absolute;
  -webkit-animation: animateCloudRight 5s linear infinite;
          animation: animateCloudRight 5s linear infinite;
}

@keyframes animateCloudRight {
  0% {
    top: 100px;
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 50px;
  }
  50% {
    top: 50px;
    right: 100px;
  }
  100% {
    top: 500px;
    right: 200px;
  }
}

#floatCloudLeft {
  position: absolute;
  -webkit-animation: animateCloudLeft 15s linear infinite;
          animation: animateCloudLeft 15s linear infinite;
  z-index: 1;
}

@-webkit-keyframes animateCloudLeft {
  0% {
    top: 100px;
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 50px;
  }
  50% {
    top: 300px;
    right: 100px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 500px;
    right: 600px;
  }
}

@keyframes animateCloudLeft {
  0% {
    top: 100px;
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 50px;
  }
  50% {
    top: 300px;
    right: 100px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 500px;
    right: 600px;
  }
}

@media only screen and (min-width: 600px) {
  header p {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 0 0 3rem;
  }
  .cloudRight {
    left: 10rem;
  }
}

/* body {
    background: linear-gradient(15deg, #0056a7, #165fa3, #477aaa);
    font-family: "Neonderthaw";
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -2;
}


.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.clouds {
    display: flex;
    flex-direction: column;
}

.clouds h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: 200;
}

.clouds .container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cloud-container {
    position: relative;
    top: 1rem;
    right: 1rem;
    min-width: 50%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background-image: url(./images/fluffly.png);



    .cloud-container .loader {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 15;
        animation: animate 4s linear infinite;
    }

@keyframes animate
{
   0%
   {
       transform:translateX(15px);
   } 
   10%
   {
       transform:translateX(30px);
   }
   100%{
       transform:translateZ(100px);
   }
} 

/* 
    .planet-earth .loader:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
        background-size: 200px 360px;
        background-repeat: no-repeat;
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
    } */
/*    .cloud-container .loader:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background: #00fff9;
        border-radius: 100%;
        z-index: 10;
        box-shadow: 0 0 10px #00fff9,
            0 0 10px #00fff9,
            0 0 20px #00fff9,
            0 0 30px #00fff9,
            0 0 40px #00fff9,
            0 0 50px #00fff9,
            0 0 60px #00fff9,
            0 0 70px #00fff9,
            0 0 80px #00fff9,
            0 0 90px #00fff9,
            0 0 100px #00fff9;
    }

   .planet-earth .loader span {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: #182357;
        border-radius: 100%;
    }

    .clouds {
        position: absolute;
        width: 340px;
        height: 340px;
        background: url(./images/small-cloud.png);
        border-radius: 2rem;
        background-size: cover;
        box-shadow: inset 0 0 20px #03a9f4,
                    inset 0 0 20px #03a9f4;
        animation: animateCloudLeft 20s linear infinite;
        animation: animateCloudRight 20s linear infinite;
    }

    @keyframes animateCloudLeft {
        0%{
            background-position: -50%;
        }
        50%{
            background-position: -50%;
        }
        100%{
            background-position: 162.5%;
        }
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        height: 100vh;
        font-size: 5rem;
        background: #fcdb6d;
        color: #0056a7;
    }  */
/*# sourceMappingURL=style.css.map */